.aside_nav {
  width: 35px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212426;
  height: 100%;
  color: #666; }
  .aside_nav .sider_hide {
    opacity: 0; }
    .aside_nav .sider_hide a {
      display: block;
      line-height: 40px;
      font-size: 16px;
      font-weight: 700;
      font-family: "Simsun";
      text-align: center;
      color: #969696; }
  .aside_nav .aside_middle {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -200px; }
  .aside_nav i {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprite1.png);
    background-repeat: no-repeat; }
  .aside_nav .slide_box {
    position: absolute;
    right: 70px;
    top: 0;
    line-height: 1.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    cursor: auto;
    z-index: 900;
    background-color: #393939;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden; }
    .aside_nav .slide_box .slide_msg {
      width: 90px;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      height: 35px;
      line-height: 35px; }
  .aside_nav .e_side_item, .aside_nav .aside_user, .aside_nav .aside_nav_list li:nth-child(2), .aside_nav .aside_nav_list li:nth-child(3), .aside_nav .aside_nav_list li:nth-child(4), .aside_nav .aside_nav_list li:nth-child(5), .aside_nav .aside_nav_list li:nth-child(6), .aside_nav .aside_bottom .aside_code, .aside_nav .aside_bottom .idea, .aside_nav .aside_bottom .back_top {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    width: 35px;
    cursor: pointer;
    height: 35px;
    line-height: 35px; }
  .aside_nav .aside_user i {
    background-position: 0px -17px; }
  .aside_nav .aside_nav_list li:nth-child(1) {
    line-height: 1.5;
    margin-bottom: 10px;
    height: auto; }
    .aside_nav .aside_nav_list li:nth-child(1) .aside_cart {
      text-align: center;
      margin: 0 5px;
      padding: 10px 0;
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333;
      color: white;
      cursor: pointer; }
      .aside_nav .aside_nav_list li:nth-child(1) .aside_cart i {
        width: 16px;
        background-position: -15px -17px; }
      .aside_nav .aside_nav_list li:nth-child(1) .aside_cart p {
        margin-top: 7px;
        padding: 0 4px;
        color: #939596; }
      .aside_nav .aside_nav_list li:nth-child(1) .aside_cart .shop_count {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-top: 7px;
        border-radius: 50%;
        color: #f0ece8;
        background-color: #CF1F3F; }
  .aside_nav .aside_nav_list li:nth-child(2) {
    height: 45px;
    line-height: 45px;
    margin-bottom: 0; }
    .aside_nav .aside_nav_list li:nth-child(2) .aside_infor {
      text-align: center;
      position: relative; }
      .aside_nav .aside_nav_list li:nth-child(2) .aside_infor i {
        height: 20px;
        width: 20px;
        background: url(../img/webim.png) -5px -1031px; }
      .aside_nav .aside_nav_list li:nth-child(2) .aside_infor .user_msg {
        text-align: left;
        width: 240px;
        height: 190px;
        overflow-x: hidden;
        position: absolute;
        right: 70px;
        top: 0;
        background: #393939;
        visibility: hidden;
        opacity: 0; }
        .aside_nav .aside_nav_list li:nth-child(2) .aside_infor .user_msg .msg_num {
          height: 42px;
          font-size: 12px;
          color: #888888;
          line-height: 42px;
          border-bottom: 1px solid #2e2e2e; }
          .aside_nav .aside_nav_list li:nth-child(2) .aside_infor .user_msg .msg_num span {
            margin-left: 20px; }
            .aside_nav .aside_nav_list li:nth-child(2) .aside_infor .user_msg .msg_num span em {
              font-style: normal; }
          .aside_nav .aside_nav_list li:nth-child(2) .aside_infor .user_msg .msg_num .time {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 12px;
            right: 20px;
            background: url(../img/webim.png) -4px -513px; }
  .aside_nav .aside_nav_list li:nth-child(3) {
    margin-bottom: 0; }
    .aside_nav .aside_nav_list li:nth-child(3) i {
      width: 17px;
      height: 12px;
      background-position: -131px -17px; }
  .aside_nav .aside_nav_list li:nth-child(4) {
    margin-bottom: 0; }
    .aside_nav .aside_nav_list li:nth-child(4) i {
      width: 16px;
      height: 14px;
      background-position: -32px -17px; }
  .aside_nav .aside_nav_list li:nth-child(5) {
    margin-bottom: 0; }
    .aside_nav .aside_nav_list li:nth-child(5) i {
      width: 15px;
      height: 15px;
      background-position: -49px -17px; }
  .aside_nav .aside_nav_list li:nth-child(6) {
    margin-bottom: 0; }
    .aside_nav .aside_nav_list li:nth-child(6) i {
      width: 16px;
      height: 16px;
      background-position: -114px -17px; }
  .aside_nav .aside_bottom {
    position: absolute;
    bottom: 0;
    left: 0; }
    .aside_nav .aside_bottom .aside_code {
      margin-bottom: 0; }
      .aside_nav .aside_bottom .aside_code i {
        width: 16px;
        height: 16px;
        background-position: -148px -16px; }
      .aside_nav .aside_bottom .aside_code .aside_code_box {
        position: absolute;
        width: 180px;
        right: 40px;
        bottom: 0;
        padding: 20px 0 10px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        background: white; }
        .aside_nav .aside_bottom .aside_code .aside_code_box img {
          margin: 0 auto; }
        .aside_nav .aside_bottom .aside_code .aside_code_box .aside_code_tit {
          font-weight: bold;
          line-height: 15px; }
        .aside_nav .aside_bottom .aside_code .aside_code_box .aside_code_dec {
          color: #969696;
          margin-bottom: 20px; }
    .aside_nav .aside_bottom .idea {
      margin-bottom: 0; }
      .aside_nav .aside_bottom .idea i {
        width: 14px;
        height: 13px;
        background-position: -65px -17px; }
    .aside_nav .aside_bottom .back_top {
      margin-bottom: 0; }
      .aside_nav .aside_bottom .back_top i {
        width: 16px;
        height: 13px;
        background-position: -80px -17px; }

.aside_panel {
  width: 280px;
  left: 35px;
  top: 0;
  position: absolute;
  background-color: #393939;
  height: 100%; }

/*# sourceMappingURL=aside.css.map */
