@charset "UTF-8";
header {
  background: white;
  overflow: visible; }

header .s_head_nav {
  width: 1200px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  font-family: "微软雅黑"; }

header .s_head_nav a:hover {
  color: #CF1F3F; }

header .s_head_nav .s_head_nav1 {
  float: left;
  color: #666; }

header .s_head_nav .s_head_nav1 span {
  margin-left: 16px; }

header .s_head_nav .s_head_nav1 span a:first-child {
  margin-right: 8px; }

header .s_head_nav .s_head_nav1 span a:last-child {
  margin-left: 8px; }

header .s_head_nav .s_head_nav1 .span_line {
  color: #ccc;
  font-style: normal;
  position: relative;
  top: -1px; }

header a {
  display: inline-block;
  color: #666;
  white-space: nowrap; }

header .s_head_nav .s_head_nav2 {
  float: right;
  color: #666; }

header .s_head_nav .s_head_nav2 li {
  float: left;
  position: relative;
  background: white;
  z-index: 100;
  display: inline; }

header .s_head_nav .s_head_nav2 li .s_tit {
  display: block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  z-index: 102;
  position: relative;
  line-height: 32px;
  background: white;
  padding: 0 9px;
  /*top: 0;*/
  /*left: 0;*/ }

header .s_head_nav .s_head_nav2 .s_nav_home a#fouse {
  margin-right: 10px;
  color: #CF1F3F;
  border: none; }

header .s_head_nav2 .s_nav_me {
  width: 81px;
  z-index: 90; }

header .s_head_nav2 .s_nav_me > a {
  /*padding: 0 9px;*/
  width: 68px;
  /*z-index: 999;*/ }

header .s_head_nav2 .s_tit .s_nav_icon {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin-left: 8px;
  background-image: url(../img/sitenav_icons.png);
  background-position: 0 0;
  vertical-align: middle; }

header .s_head_nav2 .s_tit .s_nav_pic {
  display: inline-block;
  width: 14px;
  height: 14px;
  /*margin-left:8px ;*/
  background-image: url(../img/sitenav_icons.png);
  background-position: 0 -5px;
  vertical-align: middle; }

header .s_con {
  background: white;
  z-index: 101;
  position: absolute;
  top: 31px;
  border: 1px solid #eee;
  display: none;
  padding: 10px 4px; }

header .s_con a:hover {
  color: #CF1F3F; }

header .s_head_nav2 .s_nav_me .s_me_con {
  /*padding: 10px 4px;*/
  line-height: 24px;
  width: 78px;
  right: -7px; }

header .s_head_nav2 .s_nav_me .s_me_con dt a {
  color: #333;
  font-weight: bold; }

header .s_head_nav2 .s_nav_me .s_me_con dt a:hover {
  color: #CF1F3F; }

header .s_head_nav2 .s_nav_cart > a {
  padding: 0;
  border: 0; }

header .s_head_nav2 .s_nav_cart .s_num {
  color: #CF1F3F;
  font-weight: bold;
  font-family: "Tahoma"; }

header .s_head_nav2 .s_nav_cart .s_cart_empty {
  /*padding: 10px 4px;*/
  width: 356px;
  right: 0; }

header .s_head_nav2 .s_nav_cart .s_cart_empty .s_empty_tit {
  height: 36px;
  text-align: center; }

header .s_head_nav2 .s_nav_sc .s_sc_con {
  padding: 10px 11px; }

header .s_head_nav2 .s_nav_sc .s_tit {
  width: 67px; }

header .s_head_nav2 .s_nav_sc .s_tit .s_nav_pic {
  background-position: -15px -5px; }

header .s_head_nav2 .s_call_tit {
  width: 79px; }

header .s_head_nav2 .s_call_tit .s_nav_pic {
  background-position: -29px -5px; }

header .s_head_nav2 .s_phone_tit {
  width: 91px; }

header .s_head_nav2 .s_phone_tit .s_nav_pic {
  background-position: -42px -5px; }

header .s_head_nav2 .s_nav_phone .s_phone_con {
  right: 0;
  width: 190px;
  padding: 0px 4px 10px;
  /*display: block;*/ }

header .s_head_nav2 .s_nav_phone .s_phone_con dt a {
  display: block;
  width: 114px;
  height: 114px;
  margin: 24px auto 0; }

header .s_head_nav2 .s_nav_phone .s_phone_con dd {
  text-align: center;
  line-height: 22px; }

header .s_head_nav2 .s_nav_phone .s_phone_con dt + dd {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px; }

header .s_head_nav2 .s_nav_net .s_tit {
  width: 79px;
  white-space: nowrap; }

header .s_head_nav2 .s_nav_net .s_tit .s_nav_pic {
  background-position: -55px -5px; }

header .s_head_nav2 .s_nav_net .s_net_con {
  /*display: block;*/
  right: 0;
  width: 1000px;
  padding: 20px; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_left {
  float: left;
  width: 600px;
  border-right: 1px solid #eeeeee; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_left h3 a {
  font-size: 16px;
  color: #ff6d48;
  font-weight: normal; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_left dt {
  font-weight: bold;
  color: #333333; }

header .s_head_nav2 .s_nav_net .s_net_goods dl {
  float: left;
  width: 25%; }

header .s_head_nav2 .s_nav_net .s_net_goods dl dd a + a {
  margin-left: 12px; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_right {
  float: left;
  width: 380px;
  padding-left: 10px; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_right dt {
  font-weight: bold;
  font-size: 14px; }

header .s_head_nav2 .s_net_right dl:nth-child(1) dt {
  color: #da50b0; }

header .s_head_nav2 .s_net_right dl:nth-child(2) dt {
  color: #437dd0; }

header .s_head_nav2 .s_net_right dl:nth-child(3) dt {
  color: #ff734f; }

header .s_head_nav2 .s_net_right dl:nth-child(4) dt {
  color: #228a31; }

header .s_head_nav2 .s_nav_net .s_net_con .s_net_right dl {
  width: 25%;
  float: left;
  text-align: center; }

header .s_head_nav2 .s_nav_entry {
  margin-left: 10px; }

header .s_head_nav2 .s_nav_entry a {
  padding: 0;
  /*margin-left: 9px;*/
  color: #437dd0; }

header .s_head_nav2 .s_nav_entry a span {
  display: inline-block;
  background: #437dd0;
  height: 15px;
  line-height: 15px;
  width: 28px;
  vertical-align: middle;
  text-align: center;
  color: white;
  margin-right: 8px;
  position: relative;
  margin-top: -1px; }

header .s_head_nav2 .s_nav_entry a span .s_entry_icon {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7.5px 5px;
  border-color: transparent transparent transparent #437dd0;
  border-style: solid;
  right: -10px;
  top: 0px; }

.c_top {
  height: 102px;
  width: 100%; }

section {
  width: 1192px;
  margin: 0 auto; }

.c_nav .c_nav_ul {
  line-height: 40px;
  border: 1px solid #cfcfcf;
  margin-bottom: 22px; }
  .c_nav .c_nav_ul li {
    float: left;
    text-indent: 1em; }
  .c_nav .c_nav_ul .c_nav_0 {
    width: 188px; }
  .c_nav .c_nav_ul .c_nav_1 {
    width: 200px; }
  .c_nav .c_nav_ul .c_nav_2 {
    width: 310px; }
  .c_nav .c_nav_ul .c_nav_3 {
    width: 150px; }
  .c_nav .c_nav_ul .c_nav_4 {
    width: 90px; }
  .c_nav .c_nav_ul .c_nav_5 {
    width: 150px; }
  .c_nav .c_nav_ul .c_nav_6 {
    width: 90px; }

.order_chx {
  vertical-align: middle; }

.cart_store {
  border: 1px solid #CFCFCF;
  margin-bottom: 30px; }

.c_store {
  padding-left: 5px;
  line-height: 40px;
  border-bottom: 1px solid #eee; }
  .c_store li {
    float: left;
    padding-left: 5px; }
  .c_store .c_store_name {
    color: #666; }
    .c_store .c_store_name a {
      color: #666; }

.c_shop_msg {
  margin: 0 22px 0 15px;
  padding: 32px 0 25px; }
  .c_shop_msg li {
    float: left;
    padding-left: 5px; }
  .c_shop_msg .c_shop_desc {
    margin-right: 60px; }
    .c_shop_msg .c_shop_desc .c_shop_img {
      float: left;
      padding: 0 10px;
      width: 80px; }
      .c_shop_msg .c_shop_desc .c_shop_img a {
        position: relative;
        width: 80px;
        height: 80px; }
        .c_shop_msg .c_shop_desc .c_shop_img a img {
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle; }
    .c_shop_msg .c_shop_desc .c_shop_name {
      float: left;
      overflow: hidden; }
      .c_shop_msg .c_shop_desc .c_shop_name p {
        width: 190px;
        max-height: 36px;
        overflow: hidden;
        line-height: 18px; }
      .c_shop_msg .c_shop_desc .c_shop_name a {
        color: #666; }
  .c_shop_msg .c_shop_guige {
    margin-right: 60px;
    width: 246px; }
    .c_shop_msg .c_shop_guige .c_size_num {
      position: relative; }
      .c_shop_msg .c_shop_guige .c_size_num .c_select em {
        font-style: normal;
        font-weight: 400; }
      .c_shop_msg .c_shop_guige .c_size_num .c_tip {
        color: #ED425D; }
      .c_shop_msg .c_shop_guige .c_size_num .c_edit {
        position: absolute;
        right: 0;
        padding: 0 3px 2px 2px;
        color: #d0b59f;
        border: 1px solid #d0b59f;
        border-radius: 3px;
        cursor: pointer; }
        .c_shop_msg .c_shop_guige .c_size_num .c_edit i {
          display: inline-block;
          vertical-align: middle;
          background: url(../img/sprite11.png) no-repeat -131px -15px;
          margin: 0 3px;
          width: 9px;
          height: 9px; }
    .c_shop_msg .c_shop_guige .c_table {
      margin-top: 8px;
      border: 1px solid #DDDDDD;
      border-top-width: 2px; }
      .c_shop_msg .c_shop_guige .c_table tr {
        border-bottom: 1px dotted #d5d7d9; }
        .c_shop_msg .c_shop_guige .c_table tr .c_color {
          width: 75px;
          text-align: center;
          border-right: 1px solid #d5d7d9; }
        .c_shop_msg .c_shop_guige .c_table tr .t_overflow {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 76px; }
        .c_shop_msg .c_shop_guige .c_table tr .c_sema {
          width: 168px; }
          .c_shop_msg .c_shop_guige .c_table tr .c_sema li {
            float: none;
            padding-left: 5px;
            position: relative;
            margin: 5px 0; }
            .c_shop_msg .c_shop_guige .c_table tr .c_sema li .c_junSize {
              display: inline-block; }
            .c_shop_msg .c_shop_guige .c_table tr .c_sema li .c_cema_num {
              position: absolute;
              right: 5px; }
  .c_shop_msg .c_shop_price {
    width: 150px; }
    .c_shop_msg .c_shop_price .c_goods_icon {
      color: #333333;
      font-weight: 700; }
  .c_shop_msg .c_shop_count {
    width: 80px;
    margin-right: 10px; }
  .c_shop_msg .c_shop_sum {
    width: 80px;
    margin-right: 40px;
    color: #ed425d;
    font-weight: 700;
    font-size: 14px; }
  .c_shop_msg .c_cart_icon {
    position: relative; }
    .c_shop_msg .c_cart_icon i {
      display: inline-block;
      vertical-align: middle;
      background: url(../img/sprite11.png) no-repeat; }
    .c_shop_msg .c_cart_icon .cart_goods_collect {
      width: 13px;
      height: 11px;
      margin-right: 19px;
      background-position: -117px -15px;
      cursor: pointer; }
    .c_shop_msg .c_cart_icon .cart_goods_delete {
      width: 12px;
      height: 12px;
      background-position: -116px 0;
      cursor: pointer; }

.c_delete {
  position: absolute;
  display: none;
  left: 50%;
  top: -65px;
  width: 140px;
  margin-left: -71px;
  height: 62px;
  line-height: 30px;
  text-align: center;
  color: #333333;
  z-index: 2;
  background: white;
  border: 1px solid #CFCFCF;
  box-shadow: 1px 1px 3px #eee; }
  .c_delete .oct_btn {
    position: relative;
    top: -5px;
    display: inline-block;
    border: 1px solid #CFCFCF;
    height: 20px;
    line-height: 18px;
    width: 44px;
    margin: 0 5px;
    cursor: pointer; }

.c_spec_edit {
  position: fixed;
  display: none;
  left: 50%;
  margin-left: -350px;
  top: 0px;
  background: white;
  z-index: 102;
  width: 698px;
  max-height: 598px;
  border: 1px solid #d3d3d3; }
  .c_spec_edit .c_table_top {
    position: relative; }
    .c_spec_edit .c_table_top .cart_icon_edit {
      margin: -4px 23px 0 32px;
      width: 17px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/sprite11.png) no-repeat -133px -26px; }
    .c_spec_edit .c_table_top .cart_spec_tit {
      font: 400 18px/76px 'Microsoft Yahei'; }
    .c_spec_edit .c_table_top .edit-close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #E8304E;
      font-size: 28px;
      line-height: 1;
      cursor: pointer; }
  .c_spec_edit .x_right_down {
    overflow: hidden; }
    .c_spec_edit .x_right_down .x_shop_color {
      padding-top: 5px;
      border-bottom: 1px solid #F6F5F3; }
      .c_spec_edit .x_right_down .x_shop_color .x_color_list {
        position: relative;
        padding-left: 43px;
        margin: 0 2px 0 14px; }
        .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_yanse {
          position: absolute;
          left: 5px;
          width: 43px; }
        .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr {
          height: 95px;
          overflow: hidden; }
          .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr .x_clr_item {
            position: relative;
            display: inline-block;
            margin: 0 9px 9px 0;
            min-width: 56px;
            height: 36px;
            background: white;
            text-align: center;
            box-shadow: -1px -1px 1px #f2f2f2;
            line-height: 36px;
            padding: 0 10px 0 10px;
            cursor: pointer;
            border: 2px solid #E6E6E6; }
            .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr .x_clr_item .x_num {
              position: absolute;
              bottom: -10px;
              right: 3px;
              color: #EE2346;
              font-weight: bold;
              font-size: 10px; }
          .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr .x_clr_item:hover {
            border: 2px solid #ee2346;
            color: #ee2346; }
          .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr .active {
            border: 2px solid #EE2346;
            color: #EE2346; }
        .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr_btn {
          position: absolute;
          right: 40%;
          bottom: -21px;
          width: 60px;
          height: 20px;
          border: 1px solid #F3F3F3;
          border-top-color: white;
          border-radius: 0 0 2px 2px;
          background: white;
          cursor: pointer; }
          .c_spec_edit .x_right_down .x_shop_color .x_color_list .x_clr_btn .arrow {
            margin: 8px auto 0;
            width: 1px;
            height: 1px;
            border: 5px solid #acacac;
            border-color: #acacac transparent transparent transparent; }
    .c_spec_edit .x_right_down .x_size {
      position: relative;
      border-bottom: 1px solid #F6F5F3;
      margin-top: 10px; }
      .c_spec_edit .x_right_down .x_size .x_size_list {
        position: relative;
        padding-left: 43px;
        margin-right: 2px;
        margin-left: 14px; }
        .c_spec_edit .x_right_down .x_size .x_size_list .x_chima {
          position: absolute;
          left: 5px;
          width: 43px;
          padding-top: 10px; }
        .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area {
          display: none;
          overflow-x: hidden;
          height: 232px; }
          .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area .size_item {
            height: 46px;
            border-bottom: 1px dashed #F3F3F3;
            line-height: 46px;
            min-width: 384px; }
            .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area .size_item .cell {
              display: inline-block;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area .size_item .size_name {
              width: 40%;
              color: #333333;
              font-weight: bold; }
            .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area .size_item .size_price {
              width: 16%;
              color: #333333;
              display: inline-block; }
            .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area .size_item .size_num {
              width: 22%;
              color: #333333;
              text-align: center; }
        .c_spec_edit .x_right_down .x_size .x_size_list .x_size_area_show {
          display: block; }
    .c_spec_edit .x_right_down .x_qingdan {
      height: 0px;
      margin-top: 0px;
      border-bottom: 1px solid #F6F5F3;
      background: #fcfcfc;
      line-height: 48px;
      z-index: 2;
      position: relative;
      display: none;
      padding: 30px 0 45px; }
      .c_spec_edit .x_right_down .x_qingdan .x_group {
        position: relative;
        padding-left: 43px;
        margin: 0 2px 0 14px; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_goods_num {
          color: #E8304E;
          font-size: 14px; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_goods_price {
          margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid #F6F5F3;
          color: #E8304E;
          font-weight: bold;
          font-size: 16px; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_qingdan_btn.active {
          z-index: 100;
          border-color: white #D9D9D9 #D9D9D9 #D9D9D9;
          background: white;
          top: -1px;
          padding-top: 1px;
          margin-right: -3px;
          border-bottom: 1px solid #D9D9D9; }
          .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_qingdan_btn.active .gv_icon {
            background-position: -80px 0; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_qingdan_btn {
          position: absolute;
          z-index: 100;
          right: 158px;
          top: 0;
          z-index: 1;
          padding-left: 20px;
          width: 100px;
          border: 1px solid #F6F5F3;
          border-right-color: #f6f5f3;
          color: #969696;
          cursor: pointer;
          border-top: transparent; }
          .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .x_qingdan_btn .gv_icon {
            display: inline-block;
            margin-left: 10px;
            vertical-align: text-top;
            width: 16px;
            height: 16px;
            background: url(../img/goods_view_sprng.png) no-repeat -80px -16px; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .c_uptate {
          z-index: 2;
          display: inline-block;
          position: absolute;
          right: -31px;
          cursor: pointer;
          width: 160px;
          height: 48px;
          background: #f54262;
          text-align: center;
          line-height: 48px;
          color: white;
          font-size: 16px;
          font-family: "微软雅黑"; }
          .c_spec_edit .x_right_down .x_qingdan .x_group .item_text .c_uptate i {
            position: relative;
            top: -2px;
            right: 10px;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/sprite11.png) no-repeat -66px -59px; }
        .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list {
          position: absolute;
          bottom: 49px;
          left: -14px;
          width: 698px;
          border: 1px solid #D9D9D9;
          border-left: transparent;
          background-color: white;
          z-index: 90;
          box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
          display: none; }
          .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table {
            position: relative;
            left: -1px;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0; }
            .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item td {
              padding-left: 16px;
              border-top: 1px solid #EEEEEE;
              border-left: 1px solid #D9D9D9; }
            .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .summary_name {
              width: 100px;
              font-weight: bold; }
              .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .summary_name .l_title {
                color: #333333;
                overflow: hidden;
                text-overflow: clip;
                white-space: nowrap;
                display: block; }
            .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .summary_count {
              width: 85px; }
            .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item td:nth-child(3) {
              font-size: 12px;
              color: #666666; }
            .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 {
              color: #666666;
              overflow: hidden;
              text-overflow: clip;
              white-space: nowrap; }
              .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item {
                display: block;
                margin-right: 10px;
                float: left; }
                .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item .summary_num {
                  display: inline-block;
                  width: 80px; }
                  .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item .summary_num .x_summary_num {
                    display: inline; }
                  .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item .summary_num .x_ipt_num_cur {
                    width: 25px; }
                  .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item .summary_num .x_ipt_num_lbtn {
                    margin-right: -4px; }
                  .c_spec_edit .x_right_down .x_qingdan .x_group .summary_list .summary_table .summary_item .l_title2 .summary_count_item .summary_num .x_ipt_num {
                    display: none; }

.x_ipt_num {
  display: inline-block;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  background: white;
  vertical-align: middle;
  line-height: 24px; }
  .x_ipt_num .x_ipt_num_btn {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 24px;
    background: #f5f5f5;
    line-height: 24px;
    cursor: pointer; }
  .x_ipt_num .x_ipt_num_lbtn {
    margin-right: -3px; }
  .x_ipt_num .x_ipt_num_rbtn {
    margin-left: -4px; }
  .x_ipt_num .x_ipt_num_rbtn:before, .x_ipt_num .x_ipt_num_lbtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -6px;
    width: 12px;
    height: 2px;
    background: #4f4f4f;
    content: ""; }
  .x_ipt_num .x_ipt_num_rbtn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -1px;
    width: 2px;
    height: 12px;
    background: #4f4f4f;
    content: ""; }
  .x_ipt_num .x_ipt_num_warp {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .x_ipt_num .x_ipt_num_warp .x_ipt_num_cur {
      position: relative;
      top: -1px;
      z-index: 2;
      width: 44px;
      height: 24px;
      border: 1px solid #D9D9D9;
      vertical-align: top;
      text-align: center;
      line-height: 24px;
      font: 12px/1 Tahoma,Helvetica,Arial,SimSun,sans-serif;
      color: #333; }
    .x_ipt_num .x_ipt_num_warp .x_ipt_num_slc {
      display: none;
      position: relative;
      top: -2px;
      left: 0;
      z-index: 1;
      border: 1px solid #78a72f;
      border-top: 0;
      background: white;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
      opacity: 0; }
      .x_ipt_num .x_ipt_num_warp .x_ipt_num_slc li {
        border-bottom: 1px solid #D9D9D9;
        text-align: center;
        cursor: pointer; }

.x_ipt_num.active .x_ipt_num_warp .x_ipt_num_slc {
  z-index: 3;
  display: block;
  bottom: 26px;
  opacity: 1; }
.x_ipt_num.active .x_ipt_num_warp .x_ipt_num_cur {
  z-index: 2;
  border-color: #78A72F;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

.c_jiesuan {
  width: 1192px;
  line-height: 50px;
  border: 1px solid #CFCFCF;
  color: #414141;
  background: white;
  position: relative; }
  .c_jiesuan .c_sum_item {
    margin: 0 20px 0 10px;
    float: left; }
  .c_jiesuan .c_move_fav {
    margin: 0 20px 0 10px;
    cursor: pointer;
    float: left; }
  .c_jiesuan .c_shop_delete {
    margin: 0 20px 0 10px;
    cursor: pointer;
    float: left; }
  .c_jiesuan .c_delete {
    left: 200px;
    top: -10px;
    width: 160px;
    display: none; }
  .c_jiesuan .c_sum_right {
    float: right;
    height: 50px;
    position: relative;
    top: -3px; }
    .c_jiesuan .c_sum_right .c_yixuan {
      margin: 0 20px 0 10px; }
      .c_jiesuan .c_sum_right .c_yixuan .c_sum_amount {
        font-size: 24px;
        color: #ED425D;
        margin: 0 8px;
        position: relative;
        top: 4px;
        font-style: normal;
        font-weight: 400; }
    .c_jiesuan .c_sum_right .c_money {
      color: #ED425D;
      font-family: arial;
      margin: 0 20px 0 8px; }
      .c_jiesuan .c_sum_right .c_money em {
        font-size: 14px;
        vertical-align: middle;
        margin: 0 8px;
        font-style: normal;
        font-weight: 400; }
      .c_jiesuan .c_sum_right .c_money span {
        font-size: 24px;
        position: relative;
        top: 4px; }
    .c_jiesuan .c_sum_right .c_jiesuan_btn {
      display: inline-block;
      position: relative;
      right: -2px;
      top: 3px;
      width: 150px;
      height: 50px;
      background: #ED425D;
      color: white;
      font-weight: 700;
      font-size: 24px;
      line-height: 50px;
      text-align: center;
      font-family: "微软雅黑";
      letter-spacing: 8px;
      cursor: pointer;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.15); }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear_ul:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
  overflow: hidden; }

/*# sourceMappingURL=shopCart.css.map */
