@charset "utf-8";
@mixin box($width,$height){
    width: $width+px;
    height: $height+px;
}
.s_hotSell{
    width: 1200px;
    margin: 0 auto;
   
    font-family: "Microsoft Yahei";
//  background: white;
}
.s_hotSell_con{
    background: white;
//   height: 200px;
}
.s_hotSell_con>div{
    float: left;
}
div.s_sell_women{
   @include box(199,499);
   background: pink;
}

div.s_sell_list{
   @include box(748,510);
   background: palegreen;
}
div.s_sell_rank{
   @include box(250,500);
   background: paleturquoise;
   border-left: 1px solid #F1F1F1;
}
